.img-block {
  margin: 0;
  padding: 10px;
  background-color: #fff;

  &__image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
  }

  &__caption {
    margin: 15px 0 5px 0;
  }
}

@media screen and (min-width: 576px) {
  .img-block {
    margin: 16px 40px;
  }
}
