.info {
  &__heading,
  &__caption {
    font-size: 1.9rem;
    line-height: 1.5;
  }

  &__heading {
    margin: 30px 10px;
  }

  &__caption {
    margin: 1.9rem 0;
    font-weight: 700;
  }

  &__link {
    color: #477ca7;
  }

  &__link:visited {
    color: #74638f;
  }
}

@media (min-width: 460px) {
  .info__heading {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
