.list {
  padding: 0;
  list-style: none;
  margin: 0 auto 50px auto;
  max-width: 550px;
  text-align: left;
  line-height: 1.5;

  &__item {
    margin: 16px 0;
  }
}

@media screen and (min-width: 268px) {
  .list {
    padding-left: 40px;
    list-style: initial;
  }
}
